
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@400;700&display=swap");

p{
  text-align: center;
  
}
h1 {
font-size:  45px; 
text-align: center;
color: #080500;
text-shadow: -1px 16px 8px rgba(48,44,38,0.56);
}
h2{
  box-shadow: -6px 7px 21px -7px rgba(0,0,0,0.74);
  -webkit-box-shadow: -6px 7px 21px -7px rgba(0,0,0,0.74);
  -moz-box-shadow: -6px 7px 21px -7px rgba(0,0,0,0.74);
  text-align: center;
  font-size: 23px;
  background-color: #ffa6007d;
  
}
body {
  background-color: rgba(231, 199, 157, 0.982);
  background-image: url(https://images.pexels.com/photos/8330249/pexels-photo-8330249.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}
.top-line, .bottom-line{
  height: 2px;
  background-color: rgba(228, 202, 168, 0.906);
  border-color: rgba(130, 75, 4, 0.977) ;

}

.tea-menu {
  padding: 20px;
  width: 80%;
  max-width: 500px;
  background-color: rgba(228, 202, 168, 0.45);
  /*background-color: orangered;*/
  margin-left: auto;
  margin-right: auto;
 /* padding-right: 20px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;*/
  box-shadow: -6px 7px 21px -7px rgba(0,0,0,0.74);
  -webkit-box-shadow: -6px 7px 21px -7px rgba(0,0,0,0.74);
  -moz-box-shadow: -6px 7px 21px -7px rgba(0,0,0,0.74);
}
.established{
  font-style: italic;
}

.tea-items p{
  display: inline-block;
  font-weight: 400;
  margin: 5px 0px;
}

.tea-flavor, .collections-flavor {
  text-align: left;
  width: 75%;
 /* background-color: #ffa6003e;*/
  font-weight: 150%;

}
.tea-price, .collections-price {
  text-align: right;
  width: 25%;
  /* background-color: #ffa6009d;*/

}
