
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@400;700&display=swap");

p{
  text-align: center;
  
}
h1 {
font-size:  45px; 
text-align: center;
color: #080500;

}
h2{
  text-align: center;
  font-size: 23px;
  background-color: #ffa6009d;
  
}
body {
  background-color: rgba(231, 199, 157, 0.982);
  background-image: url(https://images.pexels.com/photos/8330249/pexels-photo-8330249.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}
hr{
  height: 2px;
  background-color: rgba(228, 202, 168, 0.906);
  border-color: rgba(130, 75, 4, 0.977) ;
}
.tea-menu {
  width: 80%;
  max-width: 500px;
  background-color: rgba(228, 202, 168, 0.463);
  /*background-color: orangered;*/
  margin-left: auto;
  margin-right: auto;
 /* padding-right: 20px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;*/
  padding: 20px;
}
.established{
  font-style: italic;
}

.tea-items p {
  display: inline-block;
  font-weight: 400;
}

.tea-flavor, .collections-flavor {
  text-align: left;
  width: 75%;
 /* background-color: #ffa6003e;*/
  font-weight: 150%;

}
.tea-price, .collections-price {
  text-align: right;
  width: 25%;
  /* background-color: #ffa6009d;*/

}
